// -----------------------------------------------------------------------------
// Rizzo Next Colors
// -----------------------------------------------------------------------------

// Rizzo Colors; these colors have been ported from Rizzo
$darkgray: #2c3643 !default;
$titlegray: #3b444f !default;
$feature-copy: #67747c !default; // $bodygray
$lpblue: #297cbb !default;
$subduedgray: #dbe6ec !default;
$color-orange: #ffc83f !default;
$color-yellow: #feef6d !default;

$active-color: #0fdebd !default;
$color-red: #dc221a !default;
$color-gray: #e4e4e4 !default;
$articles-blurb-color: #7e838b !default;
$color-text: #474f5a !default;
$footer-copyright-color: #bfc2c6 !default;
$light-text-color: #898e95 !default; // very close to $font-color-light
$font-color-light: #959aa0 !default; // very close to $light-text-color
$color-light-slate: #e4eaf8 !default;
$active-background-color: #f4f5f8 !default;
$color-light-blue: #bdcee3 !default;
$color-icon-blue: #2095cf !default;
$color-paleblue: #e9f2f8 !default;


// Grayscale
$color-black: #000 !default;
$color-white: #fff !default;

// One-off colors; should we consider changing them to a color that is more widely used?
$top-place-number-color: #a7a9ae;
$detail-header-small-color: #b6c3ca;
$social-network-button-color: #e5e7ed;

// Alert component background colors
$alert-colors: (
  "warning": $color-red,
  "notice": $color-yellow,
  "default": $titlegray,
  "info": $color-paleblue
);

// Social Network Colors
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-pinterest: #cb2027;

// Deprecated
$font-color: #333; // see $titlegray, also `lighten($color-black, 20)`
$body-color: #3b4450; // see $titlegray
$footer-bottom-link-color: $font-color-light;
$ancillary-header-color: #66747c; // see $feature-copy
$color-purpleish: $body-color;
$divider-color: $color-gray;
$color-border: $color-gray;
$color-blue: $lpblue;
$color-primary: $lpblue;
$tours-title-color: $color-text;
$linkblue: #288ad6; // see $lpblue
$h2-secondary-color: $color-red;
$h2-color: $titlegray;
$color-darkblue: #2c3642; // see $darkgray
$color-warning: $color-orange;
$tours-price-background: #dc1b10; // see $color-red
$tours-blurb-color: #a0a6ad; // see $light-text-color
$color-lightgray: darken($color-white, 4);
$fad-color: #b2b4b8; // rgba($font-color-light, .68) or rgba($light-text-color, .6)
$item-border-color: #f1f4fb; // rgba($color-light-slate, .5)
$tours-type-color: #c4c7cb;

// Not used
$color-lightblue: #e9f2f8;
