/// ----------------------------------------------------------------------------
/// Components
/// ----------------------------------------------------------------------------

$namespace: "lp-";

// UI elements
$header-height: 13rem;
$header-height-mobile: 5rem;

$animation-speed: 400ms;
$animation-speed-ui: 800ms;
