/// ----------------------------------------------------------------------------
/// Default
/// ----------------------------------------------------------------------------

/// Page min width
$min-width: 32rem;
/// Page max width
$max-width: 129rem;
/// Text and inline spacing
$spacing: 1.5rem;
/// Gutter and block level spacing
$gutter: 3rem;
/// Default border radius
$radius: .2rem;
/// Base sizing value
$base-size: 1.8em;
/// Mobile spacing (left and right screen padding)
$spacing-mobile: 2rem;
