@import "../../../sass/webpack_deps";

.map-static {
  position: relative;

  @media (max-width: $max-960) {
    background-color: $color-gray;
    height: .1rem;
    margin: 0 ($gutter * .5);
    max-width: $max-width;
  }

  &__container {
    display: none;

    @media (min-width: $min-960) {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 0;
      left: 0;
      padding: ($gutter * 13.2) 0;
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  &__button {
    $btn-width: 268px;
    @include button();
    bottom: 38px;
    letter-spacing: .05rem;
    margin-left: calc(50% - #{$btn-width / 2});
    padding-bottom: 1.8rem;
    position: absolute;
    width: $btn-width;

    .icon--open {
      content: "";
      display: inline-block;
      height: 18px;
      margin-left: 2.5rem;
      margin-right: .8rem;
      margin-top: -.5rem;
      position: relative;
      vertical-align: sub;
      width: 18px;
    }
  }

  &__button-text {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 2.5rem;
    text-transform: uppercase;
  }
}
