<article class="map-static">
  <div class="map-static__container" data-preload="{{static_map.map_url}}" style="background-image: url('{{static_map.map_url}}')">
    <button class="map-static__button js-open-map">
      <i class="icon--open" aria-hidden="true"></i>
      <span class="map-static__button-text">Launch map view</span>
    </button>
  </div>
</article>
