:javascript
  if (!window.lp.enhanced) {
    (function() {

      var firstScript = document.getElementsByTagName("script")[0],
          js = document.createElement("script");

      js.src = "#{normalised_asset_path('omniture/s_code.js')}";

      js.onload = function(){
        var property;
        if (window.s && window.lp.tracking) {
          for (property in window.lp.tracking) {
            window.s[property] = window.lp.tracking[property];
          }
          if (typeof window.s.t === 'function') {
            window.s.t();
          }
        }
      };

      firstScript.parentNode.insertBefore(js, firstScript);
    }());
  }
