:javascript
  (function(){
    if (window.lp.enhanced && 
        window.lp.supports.localStorage && 
        window.localStorage.getItem('_lpfont') != "true") {

      window.onload = function() {
        var xhr = new XMLHttpRequest(),
            fontPath = window.lp.supports.woff2 ? "#{font_path('fonts_woff2.css')}" : "#{font_path('fonts.css')}";

        xhr.open('GET', fontPath);

        xhr.onload = function (e) {
          window.localStorage.setItem('_lpfont', 'true')
        };

        xhr.send();
      }

    }
  })()
