<div class="sub-nav-placeholder js-sub-nav-placeholder"></div>
<nav id="sub-nav" class="sub-nav js-sub-nav">
  <div class="sub-nav__wrap">
    <div class="sub-nav__container">
      <ul class="sub-nav__list js-sub-nav-list">
        {{#each sub_nav}}
          <li class="sub-nav__item sub-nav__item--{{link}}">
            <a class="sub-nav__link js-sub-nav-link" href="#{{link}}">{{title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</nav>
