%div{class: ui_classes_alert_type(properties)}

  .alert__inner{class: [ui_classes_alert_icon(properties), properties[:subtle] ? false : "row__inner"]}

    - if properties[:title].present?
      %span.alert__title
        = properties[:title]

    %span.alert__content
      = raw(properties[:message]).html_safe
