- styled = properties[:styled] if defined? properties
.preloader.js-preloader{ class: styled ? "preloader--styled" : "" }
  .preloader__disc
    .preloader__disc--coloured.preloader__disc--blue
  .preloader__disc
    .preloader__disc--coloured.preloader__disc--red
  .preloader__disc
    .preloader__disc--coloured.preloader__disc--green
  .preloader__disc
    .preloader__disc--coloured.preloader__disc--orange
  .preloader__cover
