%article.tile
  %a.tile__link{ href: properties[:link_url] }
    .tile__wrapper
      .tile__media.tile__media--img
        = safe_image_tag(properties[:image_src], alt: properties[:image_alt], lazyload: properties[:lazyload])
      .tile__cover
        .tile__cover__content
          %h1.tile__title
            = properties[:title]
