<footer class="lp-global-footer" id="footer" role="contentinfo">
  <div class="lp-global-footer__container">

    <div class="lp-global-footer__main">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--newsletter">
        <p class="lp-global-footer__main__links__header">
          Newsletter sign up
        </p>

        <form class="newsletter-register" action="//www.lonelyplanet.com/newsletter/form-submission.php" method="post" _lpchecked="1">
          <input name="Source" type="hidden" value="homepagefooter">
          <input name="type" type="hidden" value="subscribe">

          <p class="newsletter-register__text">
            Subscribe now and receive a 20% discount on your next
            guidebook purchase.
          </p>

          <label for="newsletter-register-email">Email address</label>
          <input class="newsletter-register__email" id="newsletter-register-email" name="sailthru_email" type="email" placeholder="your@email.com" autocomplete="email" autocapitalize="none" autocorrect="off" required>

          <label for="newsletter-register-country">Country</label>
          <select class="newsletter-register__country" id="newsletter-register-country" name="sailthru_Country">
            <option value="">Select country</option>
              <option value="Australia">Australia</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Aland Islands">Aland Islands</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bonaire">Bonaire</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="British Virgin Islands">British Virgin Islands</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Channel Islands, The">Channel Islands, The</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo, The Democratic Republic of the">Congo, The Democratic Republic of the</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote D&#x27;Ivoire">Cote D&#x27;Ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Curacao">Curacao</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="East Timor">East Timor</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="England">England</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guernsey">Guernsey</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
              <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Isle of Man">Isle of Man</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jersey">Jersey</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea, Democratic People&#x27;s Republic of">Korea, Democratic People&#x27;s Republic of</option>
              <option value="Korea, Republic of">Korea, Republic of</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao People&#x27;s Democratic Republic">Lao People&#x27;s Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>
              <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
              <option value="Moldova, Republic of">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="Netherlands">Netherlands</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Guinea">New Guinea</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="North Korea">North Korea</option>
              <option value="Northern Ireland">Northern Ireland</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russian Federation">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saba">Saba</option>
              <option value="Saint Eustatius">Saint Eustatius</option>
              <option value="Saint Barthelemy">Saint Barthelemy</option>
              <option value="Saint Helena">Saint Helena</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Martin (France)">Saint Martin (France)</option>
              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
              <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Scotland">Scotland</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Korea">South Korea</option>
              <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syrian Arab Republic">Syrian Arab Republic</option>
              <option value="Taiwan">Taiwan</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-Leste">Timor-Leste</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Viet Nam">Viet Nam</option>
              <option value="Virgin Islands, British">Virgin Islands, British</option>
              <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
              <option value="Wallis and Futuna">Wallis and Futuna</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zaire">Zaire</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
          </select>

          <button class="newsletter-register__button" data-lpa-action="newsletter" data-lpa-category="account">Sign up</button>
        </form>
      </div>

      <input class="lp-global-footer__main__checkbox" id="destinations_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--destinations">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/destinations" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Destinations">
            Destinations
          </a>

          <label for="destinations_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
            <li class="lp-global-footer__main__links__list__item">
              <a href="/africa" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Africa">Africa</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/antarctica" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Antarctica">Antarctica</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/asia" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Asia">Asia</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/caribbean" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Caribbean Islands">Caribbean Islands</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/central-america" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Central America">Central America</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/europe" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Europe">Europe</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/middle-east" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Middle East">Middle East</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/north-america" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="North America">North America</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/pacific" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Pacific">Pacific</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="/south-america" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="South America">South America</a>
            </li>
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="shop_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--shop">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/shop" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Shop">
            Shop
          </a>

          <label for="shop_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
            <li class="lp-global-footer__main__links__list__item" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Destination guides">
              <a href="http://shop.lonelyplanet.com/destination-guides">Destination guides</a>
            </li>
            <li class="lp-global-footer__main__links__list__item" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="eBooks">
              <a href="http://lonelyplanet.com/ebooks">eBooks</a>
            </li>
            <li class="lp-global-footer__main__links__list__item" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Pictorial &amp; gifts">
              <a href="http://shop.lonelyplanet.com/pictorials-and-gifts">Pictorial &amp; gifts</a>
            </li>
            <li class="lp-global-footer__main__links__list__item" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Phrasebooks">
              <a href="http://shop.lonelyplanet.com/phrasebooks">Phrasebooks</a>
            </li>
            <li class="lp-global-footer__main__links__list__item" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Activity guides">
              <a href="http://shop.lonelyplanet.com/activity-guides">Activity guides</a>
            </li>
            <li class="lp-global-footer__main__links__list__item" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Special offers">
              <a href="http://shop.lonelyplanet.com/special-offers">Special offers</a>
            </li>
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="forum_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--forum">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/thorntree" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Forum">
            Forum
          </a>

          <label for="forum_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://lonelyplanet.com/thorntree/categories/country-forums" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Country forums">Country forums</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://lonelyplanet.com/thorntree/categories/talk-to-lonely-planet" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Talk to Lonely Planet">Talk to Lonely Planet</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://lonelyplanet.com/thorntree/categories/interest-forums" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Interest forums">Interest forums</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://lonelyplanet.com/thorntree/categories/sell-swap-meet-up" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Travel buddies &amp; for sale">Travel buddies &amp; for sale</a>
            </li>
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="interests_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--interests">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/interests" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Interests">
            Interests
          </a>

          <label for="interests_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/adventure-travel" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Adventure travel">Adventure travel</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/beaches" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Beaches">Beaches</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/budget-travel" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Budget travel">Budget travel</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/family-travel" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Family travel">Family travel</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/festivals-and-events" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Festivals and events">Festivals and events</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/food-and-drink" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Food and drink">Food and drink</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/honeymoons-and-romance" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Honeymoons and romance">Honeymoons and romance</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/luxury-travel" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Luxury travel">Luxury travel</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/round-the-world-travel" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Round the world travel">Round the world travel</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/wildlife-and-nature" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Wildlife and nature">Wildlife and nature</a>
            </li>
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="booking_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--booking">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/bookings" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Travel Booking">
            Travel booking
          </a>

          <label for="booking_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/hotels" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Hotels">Hotels</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/flights" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Flights">Flights</a>
            </li>
            <li class="lp-global-footer__main__links__list__item">
              <a href="http://www.lonelyplanet.com/travel-insurance" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Insurance">Insurance</a>
            </li>
        </ul>
      </div>
    </div>

    <div class="lp-global-footer__bottom">
      <div class="lp-global-footer__links">
        <nav class="links">
          <ul class="links__list">
              <li class="links__item">
                <a class="links__link" href="http://lonelyplanet.com/about" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="About us">About us</a>
              </li>
              <li class="links__item">
                <a class="links__link" href="http://lonelyplanet.com/jobs" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Work for Us">Work for Us</a>
              </li>
              <li class="links__item">
                <a class="links__link" href="http://lonelyplanet.com/contact" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Contact us">Contact us</a>
              </li>
              <li class="links__item">
                <a class="links__link" href="http://lonelyplanet.com/press-trade-advertising" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Press, trade and advertising">Press, trade and advertising</a>
              </li>
              <li class="links__item">
                <a class="links__link" href="http://lonelyplanet.com/legal/website-terms" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Terms &amp; conditions">Terms &amp; conditions</a>
              </li>
              <li class="links__item">
                <a class="links__link" href="http://lonelyplanet.com/legal/privacy-policy" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Privacy policy">Privacy policy</a>
              </li>
          </ul>
        </nav>
      </div>

      <a class="lp-logo lp-logo--gray" href="/">
        <svg class="svg-icon svg-icon--fit" viewBox="0 0 142 72" aria-label="Lonely Planet">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-logo"></use>
        </svg>
      </a>

      <ul class="lp-global-footer__social-list">
          <li class="lp-global-footer__social-item">
            <a class="lp-global-footer__social-link footer__social-link--facebook" href="http://www.facebook.com/lonelyplanet">
              <svg class="svg-icon svg-icon--small svg-icon--inline" aria-label="Facebook">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="lp-global-footer__social-item">
            <a class="lp-global-footer__social-link footer__social-link--twitter" href="http://www.twitter.com/lonelyplanet">
              <svg class="svg-icon svg-icon--small svg-icon--inline" aria-label="Twitter">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="lp-global-footer__social-item">
            <a class="lp-global-footer__social-link footer__social-link--pinterest" href="http://www.pinterest.com/lonelyplanet">
              <svg class="svg-icon svg-icon--small svg-icon--inline" aria-label="Pinterest">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-pinterest"></use>
              </svg>
            </a>
          </li>
      </ul>

      <div class="language">
        <label class="language__label" for="language-select">International</label>

        <select class="language__select js-language-select" id="language-select">
          <option value="www.lonelyplanet.com" selected>English</option>
          <option value="www.lonelyplanet.in">English (India)</option>
          <option value="www.lonelyplanet.de">Deutsch</option>
          <option value="www.lonelyplanetitalia.it">Italiano</option>
        </select>
      </div>

      <p class="lp-global-footer__copyright">
        &copy; 2016 Lonely Planet. All rights reserved.
        No part of this site may be reproduced without our written permission.
      </p>
    </div>

  </div>
</footer>
