<div class="sights__list">
  <div class="sights__column{{#unless sights.third_column}} sights__column--half{{/unless}}">
    {{#each sights.first_column}}
      {{> "components/sights/sights_item"}}
    {{/each}}
  </div><!-- .sights__column -->

  <div class="sights__column{{#unless sights.third_column}} sights__column--half{{/unless}}">
    {{#each sights.second_column}}
      {{> "components/sights/sights_item"}}
    {{/each}}
  </div><!-- .sights__column -->

  {{#if sights.third_column}}
    <div class="sights__column">
      {{#each sights.third_column}}
        {{> "components/sights/sights_item"}}
      {{/each}}
    </div><!-- .sights__column -->
  {{/if}}
</div><!-- .sights__list -->
