{{#if sights_show}}
  <article class="sights" data-lp-initial-sights="{{sights.json}}">
    <h2 class="sights__heading js-sights-heading">
      {{sights_title}}
    </h2>

    <div class="js-sights-list"></div>

    <a class="sights__more" href="http://www.lonelyplanet.com/{{sights_slug}}/sights">
      See all sights
      <i class="icon-chevron-right" aria-hidden="true"></i>
    </a>
  </article><!-- .sights -->
{{/if}}
