@mixin segment() {
  margin: 0;
  padding: ($gutter*2) 0 ($gutter*2 - $spacing);

  &--grey {
    background-color: $color-lightgrey;
  }

  &--border-bottom:after {
    box-sizing: content-box;

    display: block;
    content: "";

    position: relative;
    bottom: -$gutter*2 + $spacing;

    margin: 0 ($gutter*0.5);

    max-width: $max-width;
    height: 0;

    border-bottom: .1rem solid $color-border;

    @media (min-width: $min-720){
      margin: 0 ($gutter*1);

      bottom: -$gutter*3 + $spacing;
    }

    @media (min-width: $min-1080){
      margin: 0 ($gutter*2);

      bottom: -$gutter*3.5 + $spacing;
    }

    @media (min-width: $min-1290){
      margin: 0 auto;

      max-width: $max-width - $gutter * 4;
    }
  }

  @media (min-width: $min-720){
    padding: ($gutter*3) 0 ($gutter*3 - $spacing);
  }

  @media (min-width: $min-1080){
    padding: ($gutter*4.5) 0 ($gutter*4.5 - $spacing);
  }

  &--border-bottom:last-of-type:after {
    border: 0;
  }
}

@mixin container() {
  margin-left: auto;
  margin-right: auto;

  padding: 0 ($gutter/2);

  max-width: $max-width;

  @media (min-width: $min-480){
    padding: 0 $gutter;
  }

  @media (min-width: $min-1080){
    padding: 0 $gutter*2;
  }

  &--slim {
    max-width: $max-width - 12rem - ($gutter*2);
  }

  &--narrow {
    max-width: $max-width - $min-width;
  }

  &--half {
    max-width: $max-width/2;
  }
}
