// -----------------------------------------------------------------------------
// Rizzo Next Colors
// -----------------------------------------------------------------------------

$offscreen-nav-background        : #1C3043 !default;
$navblue                         : #1d508d !default;
$nav-primary-type                : #bccee3 !default;
$button-background               : #2e7cb9 !default;
$button-hover-background         : #2472AD !default;
$h2-color                        : #3b444f !default;
$h2-secondary-color              : #dc221a !default;
$body-color                      : #3b4450 !default;
$link-color                      : #297cbb !default;
$divider-color                   : #e4e4e4 !default;
$light-text-color                : #898e95 !default;
$sub-navigation-color            : #2c3642 !default;
$light-sub-nav-color             : #cdd0d6 !default;
$sub-nav-border-color            : #f1f4fb !default;
$hover-submenu-background        : #f4f5f8 !default;
$subnav-featured-border-color    : #e1e3e7 !default;
$feature-copy                    : #67747c !default;
$lpblue                          : #297cbb !default;
$body-background                 : #f5f7fc !default;
$subduedgray                     : #dbe6ec !default;
$tours-price-background          : #dc1b10 !default;
$tours-type-color                : #c4c7cb !default;
$tours-title-color               : #474f5a !default;
$tours-blurb-color               : #a0a6ad !default;
$ancillary-header-color          : #66747c !default;
$articles-blurb-color            : #7e838b !default;
$footer-bottom-link-color        : #959aa0 !default;
$footer-copyright-color          : #bfc2c6 !default;
$footer-bottom-icon-border-color : #cccdce !default;
$active                          : #0FDEBD !default;
$linkblue                        : #288ad6 !default;
$darkgray                        : #2c3643 !default;
