<div class="article__sponsor-ad js-article-sponsor-ad">
  <div class="adunit adunit--sponsor-logo display-none js-sponsor-logo"
    data-size-mapping="sponsor-logo"
    data-targeting='{ "position": "article-attribution" }'>
  </div>
</div>
