<div class="ad ad--leaderboard ad--article">
  <div class="ad--leaderboard__container">
    <div class="adunit adunit--leaderboard js-slot-leader" data-size-mapping="leaderboard-responsive" data-targeting='{ "position": "superzone" }'></div>
  </div>
</div>
