@import "../../../sass/webpack_deps";

.article-pagination {
  border-bottom: .1rem solid $color-gray;
  border-top: .1rem solid $color-gray;

  @media (max-width: $max-600) {
    padding-bottom: 4.4rem;
    padding-top: 2.9rem;
  }

  &.is-hidden {
    opacity: 0;
  }
}

.article-pagination__heading {
  @include container-padded;
  color: $light-text-color;
  font-size: 1.1rem;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: $max-600) {
    padding-bottom: 1.4rem;
  }

  @media (min-width: $min-600) {
    display: none;
  }
}

.article-pagination__container {
  @include container;

  @media (min-width: $min-600) {
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $min-960) {
    margin-left: auto;
    margin-right: auto;
  }

  .no-flexbox & {
    @media (min-width: $min-600) {
      display: block;
    }
  }
}

.article-pagination__item {
  color: $darkgray;
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: (20 / 16);
  transition: color ($animation-speed / 2) linear;

  @include with-layout(static) {
    padding: 1.1rem gutter-half();
  }

  @media (min-width: $min-480) {
    @include with-layout(static) {
      padding-left: gutter();
      padding-right: gutter();
    }
  }

  @media (min-width: $min-600) {
    font-size: 2.4rem;
    line-height: (32 / 24);
    padding-bottom: 7.1rem;
    padding-top: 6.7rem;
    text-align: center;
    width: 50%;
  }

  @media (min-width: $min-960) {
    font-size: 2.8rem;
    line-height: (36 / 28);
    max-height: 21.4rem;
  }

  @media (min-width: $min-1200) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .no-flexbox & {
    @media (min-width: $min-600) {
      float: right;
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: $lpblue;
  }

  &:first-child {
    @media (min-width: $min-600) {
      border-left: .1rem solid $color-gray;
    }
  }
}
