/// ----------------------------------------------------------------------------
/// Dependencies
/// ----------------------------------------------------------------------------

@import "../../../sass/webpack_deps";





/// ----------------------------------------------------------------------------
/// Base styles
/// ----------------------------------------------------------------------------

.article {
  border-bottom: .1rem solid $color-gray;
  opacity: 1;
  overflow: hidden; // Prevent horizontal movement in iOS caused by .size-full images
  position: relative;

  .no-js & {
    border-bottom: 0;
  }

  &.is-loading {
    opacity: 0;
  }
}





/// ----------------------------------------------------------------------------
/// Element styles
/// ----------------------------------------------------------------------------

.article__container {
  @include container-padded;
  padding-bottom: gutter(static);
  position: relative;
}

.article__footer {
  @include container;
  @include container-static(6);
  align-items: center;
  display: flex;

  .no-flexbox & {
    display: block;
  }

  .no-js & {
    display: none;
  }
}

.article__sponsor-ad {
  @include container;
  font-size: 1.4rem;
  line-height: (22 / 14);
  padding-bottom: .8rem;
  padding-top: .8rem;

  @media(min-width: $min-720) {
    @include with-layout(static) {
      width: span(6);
    }
  }



  // Implementation detail

  .article & {
    margin-top: 4rem;
  }

  .no-js & {
    display: none;
  }
}
