@import "../../../sass/webpack_deps";

.article-loading {
  color: $footer-copyright-color;
  font-size: 4rem;
  opacity: 1;
  padding-bottom: gutter();
  padding-top: gutter();
  text-align: center;
  transition: opacity $animation-speed ease;

  &.is-invisible {
    opacity: 0;
  }
}
