.sharing
  .mv--split--left.sharing__nav.nav--inline#js-social
    = ui_component("social_buttons", properties: properties[:social])

  .mv--block.split--right
    = ui_component("unsocial_buttons", properties: properties[:unsocial])
