.booking-widget.booking-widget--travel.js-travel-widget#js-travel-widget{ class: properties[:widget_class] }
  .booking-widget__inner.is-loading
    - if properties[:show_preloader]
      = ui_component("preloader")
    #wn-insurance-quote-editor

  - if properties[:show_sponsor]
    .booking__powered-by
      Powered by
      %img.booking__powered-by__logo{ src: "//assets.staticlp.com/landing-pages/travel-insurance/world-nomads.png" }
