<button class="ttd__less js-ttd-less" disabled>
  <i class="ttd__less-icon icon-chevron-left" aria-hidden="true"></i>
</button>

<button class="ttd__more js-ttd-more">
  <i class="ttd__more-icon icon-chevron-right" aria-hidden="true"></i>
</button>
