<article class="ttd">
  <h2 class="ttd__heading">
    {{ top_things_to_do.title }}
  </h2>

  <div class="ttd__container js-ttd-container">
    <div class="ttd__list-container js-ttd-list-container">
      <ul class="ttd__list js-ttd-list">
      </ul>
    </div>

    <div class="ttd__navigation js-ttd-navigation"></div>
  </div>
</article>
