@mixin link-transition(){
  transition-property: color, border, background;
  transition-duration: .3s;

  &:after,
  &:before {
    transition-property: color, border, background;
    transition-duration: .3s;
  }

  &:hover {
    transition-duration: 0ms;

    &:after,
    &:before {
      transition-duration: 0ms;
    }
  }
}

@mixin more() {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;

  @include link-transition();

  &:hover {
    color: $color-primary + 30;
  }

  [class*="icon-"] {
    margin-left: 0.6rem;
    font-size: 6px;
    vertical-align: 20%;

    transition: margin 500ms;
  }

  &:hover {
    [class*="icon-"] {
      margin-left: 0.2rem;
    }
  }
}

@mixin see-more(){
  @include more();

  position: relative;
  display: inline-block;

  margin: 0 0 $spacing;
  padding: $gutter $gutter 0;

  &:before {
    $size: 12.5rem;

    display: block;
    content: "";

    position: absolute;

    top: 0;
    left: 50%;

    margin-left: (-$size / 2);

    width: $size;

    border-top: .1rem solid #dde8f2;
  }
}
