@import "../../../sass/webpack_deps";

.guidebook {
  @include clearfix;
  margin: 0 auto $gutter;

  @media (max-width: $max-1080) {
    text-align: center;
  }
}

.guidebook__info {
  position: relative;
  z-index: z("middle") - 5;

  @media (min-width: $min-1080) {
    float: right;
    margin-right: 3%;
    width: 35%;
  }
}

.guidebook__blurb {
  font-size: 1.6rem;
  font-weight: $font-weight-medium;
  line-height: (24 / 16);
  margin: 0 auto;
  width: 90%;

  @media (min-width: $min-720) {
    font-size: 1.8rem;
    line-height: (32 / 18);
  }

  @media (min-width: $min-1080) {
    font-size: 2rem;
    font-weight: 300;
    line-height: (36 / 20);
    margin-left: 0;
    margin-right: 0;
    max-width: 400px;
    width: 100%;
  }
}

.guidebook__button {
  margin-top: 5.3rem;
}

.guidebook__header {
  margin-bottom: $spacing;
  position: relative;
  text-align: center;
  z-index: z("middle") - 5;

  @media (min-width: $min-1080) {
    float: right;
    margin-top: 10%;
    padding-left: 5%;
    text-align: left;
    width: 43%;
  }
}

.guidebook__title {
  @include h1();
  color: $color-red;
  margin-bottom: 4rem;
  padding-bottom: 0;

  @media (min-width: $min-720) {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 6rem;
  }

  @media (min-width: $min-1080) {
    margin-bottom: 0;
  }

  &::after {
    display: none;
  }

  @media (min-width: $min-1080) {
    line-height: 1;
    max-width: 450px;
  }

  @media (min-width: $min-1080) {
    color: $color-red;
    padding-top: 0;
    text-align: left;

    &::after {
      display: none;
    }
  }
}

.guidebook__subtitle {
  display: none;

  @media (min-width: $min-1080) {
    color: rgba($light-text-color, .6);
    display: block;
    font-size: 2.6rem;
    font-weight: 300;
    margin: ($spacing / 2) 0 0;
  }
}

.guidebook__pictures {
  display: block;
  margin: 2rem auto;
  outline: 0;
  position: relative;
  text-align: center;
  width: 80%;

  @media (min-width: $min-720) {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  @media (min-width: $min-960) {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  @media (min-width: $min-1080) {
    float: left;
    width: 55%;
  }
}

.guidebook__picture {
  backface-visibility: hidden;
  box-shadow: 2rem 1rem 6rem rgba($color-black, .4);
  display: inline-block;
  font-size: 0;
  transition: 200ms transform;
  width: 60%;

  @media (min-width: $min-480) {
    width: 20rem;
  }

  @media (min-width: $min-560) {
    width: 25rem;
  }

  @media (min-width: $min-768) {
    width: 30rem;
  }

  @media (min-width: $min-960) {
    width: 35rem;
  }
}

.guidebook__picture--primary {
  position: relative;
  top: 0;
  transform: translate(3rem, 0) rotateZ(1deg);
  z-index: z("default");

  @media (min-width: $min-560) {
    left: 50%;
    margin-left: (-25rem / 2);
  }

  @media (min-width: $min-768) {
    margin-left: -28rem;
  }

  @media (min-width: $min-960) {
    margin-left: -35rem;
  }

  @media (min-width: $min-1080) {
    margin-left: -18rem;
  }

  .guidebook__pictures--single & {
    left: 0;
    margin-left: -5rem;
  }

  .guidebook__pictures:hover & {
    @media (min-width: $min-960) {
      transform: translate(4rem, 0) rotateZ(-1deg);
    }
  }
}

.guidebook__picture--secondary {
  transform: translate(-11rem, -1rem) rotateZ(-19deg) scale(.8);

  @media (max-width: $max-560) {
    left: 11rem;
    position: absolute;
    top: 2rem;
  }

  .guidebook__pictures:hover & {
    @media (min-width: $min-960) {
      transform: translate(-18rem, -1rem) rotateZ(-19deg) scale(.8);
    }
  }
}

.guidebook__image {
  max-width: 465px;
  width: 100%;

  @media (min-width: $min-1080) {
    max-width: 100%;
  }
}
