// .display-none used for ads
.is-hidden,
.display-none {
  display: none !important;
}

.is-relative {
  position: relative;
}

.hide-text {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
