.nav__item.nav__item--user.nav__submenu__trigger.js-user-signed-in
  %img.nav__item--user-avatar.js-user-avatar{ data: { src: "{{avatar}}"}, title: "", alt: "{{username}}" }
  %span.wv--hidden.nav--offscreen__title {{username}}

  .user-menu.nav__submenu
    .user-menu__container.nav--stacked.nav__submenu__content.icon--tapered-arrow-up--after.icon--white--after.icon--white--bordered{ title: ""}
      .user-menu__header
        .user-menu__username {{username}}
        .user-menu__email {{email}}
        .user-menu__buttons
          %a.split--right.icon--settings.icon--body-grey{ href: "https://www.lonelyplanet.com/thorntree/forums/settings", title: "Forum settings"}

          .grid-wrapper--10

            .col--one-half
              %a.btn.btn--linkblue.btn--small.btn--full-width{ href: "https://www.lonelyplanet.com/thorntree/profiles/{{profileSlug}}"} View Profile
            
            .col--one-half
              %a.btn.btn--linkblue.btn--small.btn--outline.btn--full-width{ href: "https://auth.lonelyplanet.com/users/sign_out"} Sign Out            

.wv--nav--inline.nav__item--user-menu.js-user-signed-in
  - user_navigation_items[:signed_in_links].each do |item|
    = render "components/navigation/nav_item", item: item, active: false, primary: true
