- if properties[:breadcrumbs]
  .row.row--footer.row--breadcrumbs#js-breadcrumbs
    .row__inner.row__inner--footer
      = ui_component( "navigation/breadcrumbs", properties: properties.merge({ show_home: true }) )
