= render 'layouts/custom/pre_header', third_party: third_party
= render 'layouts/custom/post_header', legacy_header: legacy_header, search: search, user_nav: user_nav, include_js: include_js, nav_primary: nav_primary, responsive: responsive, ads_header: ads_header
