- if legacy_header
  .content-wrapper.navigation-wrapper
    = render 'layouts/partials/snippets/primary_navigation_bar', search: search, user_nav: user_nav, include_js: include_js, nav_primary: nav_primary, responsive: responsive
- unless legacy_header
  .content-wrapper.navigation-wrapper.rizzo-navigation.rizzo-next
    = render :file => 'header'

- if ads_header
  = render 'layouts/partials/snippets/leaderboard'
