= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.split--left.copy--h1 Car Rental widget

= ui_component("widgets/car_rental", properties: { show_subheading: false })
