= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.split--left.copy--h1 Flights widget

= ui_component("widgets/flights", properties: { show_subheading: false })
