= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.split--left.copy--h1 Promo widget

  %p
    This is the promo widget

= styleguide_component("widgets/promo", properties: {title: 'A promotion section.', description: 'Three mpu units together.'}, full_width: true)
