= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.split--left.copy--h1 Social widget

  %p
    Social buttons in a widget

= styleguide_component("widgets/social", properties: { social: { url: 'http://www.lonelyplanet.com', show_label?: true, tweet: "#{tweetify(url: 'http://www.lonelyplanet.com', title: 'Description for social', hashtags: ['lp', 'bestintravel'])}", show: %w(facebook twitter google-plus stumbleupon tumblr pinterest), description: 'Description for social', image_url: '/some-image.jpg' }, unsocial: { url: 'http://www.lonelyplanet.com', page_title: 'Lonely Planet', show_label?: true }}, full_width: true)
