<div class="{{className}}">
  <ul class="sub-navigation__list">
    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="//www.lonelyplanet.com/thorntree/profiles/{{user.profileSlug}}">Profile</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="http://www.lonelyplanet.com/thorntree">Thorn Tree</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="//www.lonelyplanet.com/thorntree/messages">Messages</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="//auth.lonelyplanet.com/users/sign_out">Sign Out</a>
    </li>
  </ul>
</div>
