<article class="intro-narrative">
  <h2 class="intro-narrative__heading">{{{intro_narrative_title}}}</h2>

  <p class="intro-narrative__text">
    <span class="js-intro-narrative">{{{intro_narrative_text}}}</span>

    {{#if intro_narrative_more}}
    <a class="intro-narrative__more" href="{{intro_narrative_more}}" target="_blank">
      Read More
      <span class="icon-chevron-right"></span>
    </a>
    {{/if}}
  </p>
</article>
