@import "../../../sass/webpack_deps";

$survival-guide-breakpoint-tablet-min: #{(700 * .0625)}em;
$survival-guide-breakpoint-mobile-max: #{(699 * .0625)}em;
$survival-guide-breakpoint-mobile-min: #{(400 * .0625)}em;
$survival-guide-breakpoint-mobile: #{(399 * .0625)}em;

.survival-guide {
  font-weight: $font-weight-medium;
  text-align: center;

  &__heading {
    @include h1(3.8rem);
  }

  &__list {
    margin: 0 auto 2.5rem;
  }

  &__link {
    color: $titlegray;
    display: block;
  }

  &__item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;

    @media (max-width: $survival-guide-breakpoint-mobile) {
      margin-top: 4.5rem;

      &:first-child {
        margin-top: 0;
      }
    }

    @media (min-width: $survival-guide-breakpoint-mobile-min) {
      width: 45%;
    }

    @media (min-width: $survival-guide-breakpoint-tablet-min) {
      width: 23%;
    }

    &:nth-child(-n+2) {
      @media (min-width: $survival-guide-breakpoint-mobile-min) and (max-width: $survival-guide-breakpoint-mobile-max) {
        margin-bottom: 4.5rem;
      }
    }
  }

  &__icon {
    color: $color-icon-blue;
    display: block;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    transition: transform $animation-speed;
    width: 6rem;

    @media (min-width: $survival-guide-breakpoint-mobile-min) {
      height: 8rem;
      width: 8rem;
    }

    .survival-guide__link:hover &,
    .survival-guide__link:focus & {
      transform: translateY(-.5rem);
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 2rem;
    transition: color $animation-speed;

    @media (min-width: $survival-guide-breakpoint-mobile-min) {
      margin-top: 2.8rem;
    }

    .survival-guide__link:hover &,
    .survival-guide__link:focus & {
      color: $lpblue;
    }
  }

  &__blurb {
    color: $light-text-color;
    font-size: 1.6rem;
    line-height: 1.2;
    margin: .5rem auto 0;
    width: 90%;

    @media (min-width: $survival-guide-breakpoint-mobile-min) {
      margin-top: .9rem;
    }
  }

  &__button-container {
    @include see-more-link;

    @media (min-width: $survival-guide-breakpoint-mobile-min) {
      margin-top: 6.5rem;
    }
  }

  &__more {
    @include see-more();
  }
}
