:ruby

  aspect_ratio = ((100.00 / properties[:width]) * properties[:height]).round(2)

  properties.delete(:alt)
  properties.delete(:pois)
  properties.delete(:width)
  properties.delete(:height)

.poi-map__container.mv--inline.js-poi-map-container{ style: "padding-top: #{aspect_ratio}%", data: properties }
