@import "../../../sass/webpack_deps";

$alert: (
  "font-color": $color-white
);

.alert {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height $animation-speed;

  .no-js & {
    display: none;
  }

  &.is-visible {
    max-height: 6.5rem;
  }

  &__container {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;

    &--default {
      @include alert-background($color: "default");
    }

    &--warning {
      @include alert-background($color: "warning");
    }

    &--notice {
      @include alert-background($color: "notice");
    }

    &--info {
      @include alert-background($color: "info");
    }
  }

  &__inner {
    color: get($alert, "font-color");
    font-size: 1.4rem;
    opacity: 0;
    padding-bottom: 2.2rem;
    padding-top: 2.2rem;
    transition: opacity 100ms;

    &.is-visible {
      opacity: 1;
    }

    &--link {
      color: get($alert, "font-color");
      text-decoration: underline;
    }
  }

  &__close {
    background-color: transparent;
    border: 0;
    color: get($alert, "font-color");
    cursor: pointer;
    float: right;
    font-size: 0;
    font-weight: $font-weight-light;
    height: 2rem;
    outline: 0;
    padding: 0;
    transition: color $animation-speed;

    &:hover,
    &:active,
    &:focus {
      color: $footer-copyright-color;
    }

    &::before {
      font-size: 1.2rem;
    }
  }

}
