.styleguide-block.col--one-whole
  %h2.copy--label #{group[:title][2..-1]}
  
  %p
  
  .js-card-container.grid-wrapper--10.styleguide__colours
    - group[:body].split(/\n/).each do |line|

      - unless line == ""

        - colour_pair = line.gsub(" !default", "").strip().split(':')
        - colour_value = @app.get_colour_value(colour_pair[1], "_colour_palette")

        - if colour_value

          .col--one-fifth{ data: { luminance: @app.get_luminance(colour_value) } }
            .card
              .styleguide-block__item--colour.copy--h2{style: "background-color: #{colour_value}", class: @app.get_luminance(colour_value) > 200 ? "is-light" : "", "data-clipboard-text" => colour_value.strip}<
                = colour_value
              %code<
                = colour_pair[0]
