- content_for(:async_js) {"styleguide"}
- content_for(:secondary) do
  = ui_component("place_title", properties: @app.page_title)
  = ui_component("navigation/secondary", properties: @app.secondary_nav_items)

- content_for :app_require_config do
  = raw(js_hash({d3: requirejs_config_path("d3/d3"), nvd3: requirejs_config_path("nvd3/nv.d3")}, "window.lp.require.paths"))

%script#tmpl-preloader{ type: 'text/html' }
  = ui_component('preloader')

- configure_js("pageHopper", @app.page_hopper_sections)

:ruby
  def ad_config
    {hints: "", channels: ""}
  end
