= render 'styleguide/partials/shared'

- components = styleguide_stubs('forms')

.card.styleguide-intro.styleguide-block.copy--body.context--content#dropdown-intro
  %h1.copy--h1
    Dropdown
  %p
    These are basic selects without javascript but with js enabled they mask the select box whilst still keeping it clickable.

  %p
    Multiple select inputs default to equal widths, but can be styled individually using .multi-select-<span>index<span>

- components['dropdown_components'].each_with_index do |component, i|
  = styleguide_component("forms/#{component[:styleguide_title].downcase.split(' ').join('_')}", properties: component, count: i)
