= render 'styleguide/partials/shared'

- left_nav_stub = styleguide_stubs('navigation')['left_nav_stub']

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Left Navigation
  %p
    This navigation is not currently being included as a component by any apps and is waiting for some Ruby refactoring. So far, this just represents where we want to get to. The styles are still up to date though and can be used as reference.

.grid-wrapper--10
  - left_nav_stub.each_with_index do | stub, i |
    = styleguide_component('navigation/left', properties: stub, count: i)
