= render 'styleguide/partials/shared'

.card.styleguide-intro.styleguide-block.copy--body.context--content
  .clearfix
    %h1.copy--h1
      Month blocks
    %p
      Blocks labeled with the first letter of the month of the year, supply an array of
      12 colours chosen from the
      %a{href: '/styleguide/design-elements/colours'}
        colour palette.
  %pre.styleguide.copy--body.language-ruby
    %code
      = preserve do
        :plain
          = ui_component('month_blocks', properties: {segments:['subduedgray', 'subduedgray', 'softblue', 'softblue', 'softgreen', 'softgreen', 'softgreen', 'softgreen', 'softblue', 'softblue', 'subduedgray', 'subduedgray']})

  %p
    Note that the above will output the markup for the preloader. To make it visible, you need to add a class of
    %code.language--markup is-loading
    to the parent container.

  %h2.copy--h2.styleguide-block__heading
    Example

  .styleguide-month-blocks.is-loading
    = ui_component('month_blocks', properties: {segments:['subduedgray', 'subduedgray', 'softblue', 'softblue', 'softgreen', 'softgreen', 'softgreen', 'softgreen', 'softblue', 'softblue', 'subduedgray', 'subduedgray']})
