= render 'styleguide/partials/shared'

- page_titles = styleguide_stubs('title')['titles']

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Page titles
  %p
    Page titles can be either H1s, links or spans. This is all dependant on their context.

  %p
    Page titles are also truncated to help with long place name combinations.

- page_titles.each_with_index do | title, i |
  = styleguide_component('place_title', properties: title, count: i, full_width: true)
