= render 'styleguide/partials/shared'

- require "ostruct"
- maps = styleguide_stubs('maps')

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 POI Maps
  %p
    Simple Google Maps integration for static and dynamic maps. The maps are responsive by default.

  %p
    The width, height and scale properties are optional but the defaults for each are shown below.

- maps.each_with_index do |map, i|
  = styleguide_component("poi_maps/#{map[:styleguide_title].downcase.split(' ').first}", properties: map, count: i, card_style: true)
