= render 'styleguide/partials/shared'

- components = styleguide_stubs('forms')

.card.styleguide-intro.styleguide-block.copy--body.context--content
  %h1.copy--h1
    Range Slider

  %p
    This range slider is built upon
    %a{href: "https://github.com/leongersen/noUiSlider"} noUiSlider
    and is used for price and duration filtering within things to do.

  %p
    Without javascript it is replaced by two inputs for min/max


- components['slider_components'].each_with_index do |component, i|
  = styleguide_component("forms/range_slider", properties: component, count: i, full_width: true)
