= render 'styleguide/partials/shared'

- secondary_nav_stub = styleguide_stubs('navigation')['secondary_navigation_stub']

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Secondary Navigation
  %p
    This navigation is a component mostly because it's responsive. There is nothing else to it. It toggles to a select on small screens.

.responsive.styleguide--secondary-nav
  = styleguide_component('navigation/secondary', properties: secondary_nav_stub, original_stub: secondary_nav_stub, full_width: true)
