= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Social Buttons

.styleguide--section--social
  = styleguide_component("unsocial_buttons", properties: {url: "http://rizzo.lonelyplanet.com/styleguide", page_title: "Used for email subject"})
  = styleguide_component("unsocial_buttons", properties: {url: "http://rizzo.lonelyplanet.com/styleguide", page_title: "Used for email subject", show_label?: true})
