= render 'styleguide/partials/shared'

:ruby
  items = styleguide_stubs('user_attribution')

.card.styleguide-intro.styleguide-block.copy--body.context--content
  %h1.copy--h1 User Attribution

- items.each_with_index do |user_attribution, i|    
  = styleguide_component('user_attribution', properties: user_attribution, count: i)
