@import "../../../sass/webpack_deps";

$max-video-width: 129rem;

.video-overlay {
  background: $color-white;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 500ms ease-in;
  width: 100%;

  &--playing {
    opacity: 1;
  }

  &__close {
    font-size: 2rem;
    height: 8rem;
    left: auto;
    overflow: hidden;
    position: absolute;
    right: 3.5rem;
    top: 3.5rem;
    z-index: z("video-overlay-close");
  }

  &__close__button {
    color: $titlegray;
    cursor: pointer;
    opacity: 1;
    transition: opacity 500ms ease-in;

    &--disabled {
      cursor: default;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.masthead-video {
  left: 50%;
  max-width: $max-video-width;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @media(min-width: $min-480) {
    width: 60%;
  }

  &__container {
    height: 0;
    margin-left: ($gutter / 2);
    margin-right: ($gutter / 2);
    padding-bottom: 56.25%;
    position: relative;

    @media (min-width: $min-480) {
      margin-left: $gutter;
      margin-right: $gutter;
    }

    @media (min-width: $min-1080) {
      margin-left: ($gutter * 2);
      margin-right: ($gutter * 2);
    }

    @media (min-width: $min-1290) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.BrightcoveExperience {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-height: 80rem;
  max-width: $max-video-width; // Max video width before controls start to disappear
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
