@import "../../../sass/webpack_deps";

.travel-alert {
  background-color: $color-orange;
  font-size: 1.4rem;
  padding: 2rem;
  text-align: center;

  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;

    a {
      color: lighten($color-black, 20); // #333
      text-decoration: underline;
    }
  }

  &--narrow {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
}
