<div class="lp-poi-callout__content">
  <img class="lp-poi-callout__image lp-js-poi-callout-image" src="{{ image }}" alt="">
  <h3 class="lp-poi-callout__title">{{ name }}</h3>
  <h5 class="lp-poi-callout__type">{{ topic }}</h5>
  <div class="lp-poi-callout__excerpt lp-js-poi-callout-excerpt">{{ excerpt }}</div>
</div>
