@import "../../../sass/webpack_deps";

.lp-overlay {
  background-color: rgba($color-black, .4);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity $animation-speed;
  z-index: z("modal") - 2;

  &--visible {
    opacity: 1;
  }
}
