#js-traffic-driver-html

  %div{ style: 'display: none' }
    .adunit{ data: ad_unit_data('traffic-driver-html', defined?(properties) ? properties : nil) }
    .adunit{ data: ad_unit_data('tourist-board-html', defined?(properties) ? properties : nil) }
