{{#if lodgings }}
  <section class="hotels" id="lodgings">
    <div class="hotels__container">

      <header class="hotels__header">
        <h2 class="hotels__title">
          {{{hotels_title}}}
        </h2>

        <p class="hotels__text">
          We've pre-picked the best hotels, hostels and bed and breakfasts to
          make your stay as enjoyable as possible.
        </p>
      </header>

      <form class="hotels__search" id="hotel-search-form" action="https://www.lonelyplanet.com/{{slug}}/hotels">
        <fieldset>
          <div class="hotels__search__field">
            <label class="hotels__search__label" for="js-av-start">Check-in</label>

            <input class="hotels__search__control" id="js-av-start" autocomplete="off" name="search[from]" placeholder="Check-in" type="date">
          </div>

          <div class="hotels__search__field">
            <label class="hotels__search__label" for="js-av-end">Check-out</label>

            <input class="hotels__search__control" id="js-av-end" autocomplete="off" name="search[to]" placeholder="Check-out" type="date">
          </div>

          <div class="hotels__search__field">
            <label class="hotels__search__label" for="js-guests">Number of guests</label>

            <select class="hotels__search__control" id="js-guests" name="search[guests]">
              <option value="1">1 Guest</option>
              <option value="2" selected="selected">2 Guests</option>
              <option value="3">3 Guests</option>
              <option value="4">4 Guests</option>
              <option value="5">5 Guests</option>
              <option value="6">6 Guests</option>
              <option value="7">7 Guests</option>
              <option value="8">8 Guests</option>
              <option value="9">9 Guests</option>
            </select>
          </div>

          <button class="hotels__search__button" id="js-hotels-submit" type="submit">Search</button>
        </fieldset>
      </form>
    </div>
    <div class="hotels__button-container">
      <a class="hotels__more" href="http://www.lonelyplanet.com/{{slug}}/hotels">
        or skip this step and see all hotels &amp; hostels
        <i class="icon-chevron-right" aria-hidden="true"></i>
        <i class="icon-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  </section>
{{/if}}
