.accessibility(aria-label="Page quick links")
  %a.go(href="#container")
    go to content
  %a.go(href="#search-box")
    go to search box
  %a.go(href="#global-nav")
    go to global site navigation
