.row.row--fluid.row--cookie-compliance.js-cookie-compliance.is-closed
  .wv--split--left.cookie-msg
    %p.cookie-text
      %strong
        Hi there,
      we use cookies to improve your experience on our website. You can
      %a.cookie-link{href: 'http://www.lonelyplanet.com/legal/cookies'}
        update your settings
      by clicking the Privacy policy link at the bottom of the page.
  .wv--split--right.cookie-buttons
    .btn.btn--small.btn--green.js-close
      No worries
    %a.btn.btn--small.btn--grey{href: 'http://www.lonelyplanet.com/legal/cookies/'}
      Learn more
