.row.row--sponsored.row--leaderboard.row--leaderboard--footer.is-closed
  .ad-leaderboard
    .ad-leaderboard__inner
      = ui_component('ads/leaderboard', properties: { targeting: { position: "footer" } })
