.row--faux-banner
%input{ type: "checkbox", id: 'nav--primary__trigger', class: "is-hidden" }
%label{ for: 'nav--primary__trigger', class: 'copy--h2 wv--hidden nav--primary__trigger icon--hamburger--before icon--white--before js-toggle-active', data: { toggle: { target: 'body', class: 'show-nav' } } } Menu

%a.media--lp-logo.logo--header.icon--lp-logo.icon--white{ href: 'http://www.lonelyplanet.com', title: 'Return to homepage' }

.nav-container.m-hidden-menu

  .wv--split--right

    .wv--nav--inline.split--right__inner.nav--user
      - if search
        %form.search--primary.search--primary-wv.js-nav-search.wv--inline-block{ action: "//www.lonelyplanet.com/search", method: "get", role: "search" }
          %label.accessibility(for='search-q') Search
          %input.search__input.search__input--primary.js-primary-search{ type: "search", id: "search-q", maxlength: "2048", name: "q", value: "", autocomplete: "off", tabindex: "1", placeholder: "Enter your search term" }
          %button.search__input__icon.js-search-icon.icon--search.icon--white{ class: "search__button", type: "submit", id: "search-q-submit" }
            Search

      - if user_nav
        %nav.nav__item.wv--nav--inline.nav--primary--user.js-user-nav.split--right__inner{ role: "navigation", title: "User navigation", aria: { label: "User navigation" }, itemscope: "itemscope", itemtype: "http://schema.org/SiteNavigationElement" }
          %h6.accessibility User navigation
          %a.nav__item.nav__item--primary.nav__item--user.user-basket.wv--inline-block.js-user-basket.js-nav-cart{ href: 'http://shop.lonelyplanet.com/cart/view' }
            %span.user-basket__icon.icon--shop-basket.icon--white{ itemprop: "name" }
              View Basket

          - if include_js
            %script#js-user-nav-template{ type: "text/html" }
              = render partial: "templates/global-nav/user_nav"

          %noscript
            .nav__item.nav__item--user
              = render "components/navigation/nav_item", item: user_navigation_items[:my_account], active: false, primary: true

  .wv--split--left
    %nav.wv--nav--inline.nav--primary#js-nav--primary{ role: "navigation", aria: { label: "Global navigation" }, itemscope: "itemscope", itemtype: "http://schema.org/SiteNavigationElement" }
      - if nav_primary
        %h6.accessibility Global navigation

        - primary_navigation_items(responsive).each do |item|
          - if item[:submenu]
            .nav__submenu__trigger.nav__item.nav__item--primary
              = render "components/navigation/nav_item", item: item, active: false, primary: true, has_submenu: true, global: true
          - else
            = render "components/navigation/nav_item", item: item, active: false, primary: true, global: true
