<div class="category-list category-list--article">
  {{#each article.categories}}
    <a class="category-list__item" href="{{ this.slug }}">
      {{ this.name }}
    </a>
  {{/each}}
</div><!-- .category-list -->
