= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content.js-colours
  .clearfix
    %h1.split--left.copy--h1 Colour Palette
    = render 'styleguide/partials/colour_finder'

  %p
    This is the primary and secondary colour palettes as described in the PSD styleguide and in
    %a{href: 'https://github.com/lonelyplanet/rizzo/blob/master/app/assets/stylesheets/sass/variables/_colour_palette.sass'}
      colour_palette.sass

  .grid-wrapper--10
    - @app.get_colours('../../assets/stylesheets/sass/variables/_colour_palette.sass').each do |group|
      = render 'styleguide/partials/colour', group: group
