- default_secondary_nav = styleguide_stubs('navigation')['secondary_navigation_stub']

- content_for :async_js, 'app_core'

- content_for(:secondary) do
  = ui_component('place_title', properties: {no_place_link: true, title: 'The city of Jerusalem', parent: 'Israel and the Palestinian Territories', parent_slug: '/israel-and-the-palestinian-territories/' })
  = ui_component('navigation/secondary', properties: default_secondary_nav)
