@import "../../../sass/webpack_deps";

.tooltip {
  background-color: $color-white;
  border-radius: .4rem;
  color: $titlegray;
  display: none;
  position: absolute;
  width: 400px;
  z-index: z("top");

  &::before {
    border-bottom: .8rem solid $color-white;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -.4rem;
    position: absolute;
    top: -.7rem;
    width: 0;
    z-index: z("below");
  }

  &:hover {
    display: block;
  }
}
