.map-alert {
  background-color: lighten($color-black, 20); // #333
  border: .1rem solid $color-white;
  color: $color-white;
  font-size: 1.3rem;
  opacity: 0;
  padding: .5rem .8rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  transition: opacity $animation-speed ease-in-out;

  &.active {
    opacity: 1;
  }

  &.error500 {
    background-color: #fa5858;
  }
}
