$item-width-pin: 34rem;
$item-width-list: 41rem;
$image-width: 8rem;
$order-width: 6rem;
$disabled: #cbd9e4;
$toggle-width: 10vw;
$sidebar-width: 47rem;
$sidebar-header-height: 16.9rem;
$close-button: 7rem;
$close-margin: calc(50vh - (#{$close-button} / 2));
$pinsize: 2rem;
$pin-color: #cc0013;
$map-container-width: calc(100% - #{$sidebar-width} - #{$close-button});
$hovered-item: rgba($color-black, .1);
$pin-item-color: #3774b4;
