= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Lonely Planet Specific
    %p
      These are helper classes which provide often used styling specific to LP.

- @app.get_css("core/utilities/_lp_specific").each do |css|
  = render "styleguide/partials/snippet", properties: css
