= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Mixins for Media

- @app.get_css("sass/mixins/_svg").each do |css|
  = render "styleguide/partials/snippet", properties: css

- @app.get_css("sass/mixins/_retina").each do |css|
  = render "styleguide/partials/snippet", properties: css
