= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Utility Classes for Responsive Layouts
    %p
      These classes can be used to scope existing hooks to particular breakpoints.

- @app.get_css("core/utilities/_responsive").each do |css|
  = render "styleguide/partials/snippet", properties: css
