<h2>Interface Icons</h2>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-chevron-down"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-chevron-up"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-chevron-left"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-chevron-right"></use>
</svg>

<h2>Survival Guide Icons</h2>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-airplane"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-bed"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-book-pencil"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-car"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-safety"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-lamp"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-money"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-suitcase"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-umbrella"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-vespa"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-visa"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-wheelchair"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-bear"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-lgbt"></use>
</svg>

<svg class="svg-icon">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-survival-health"></use>
</svg>
