<div hidden>
  <svg xmlns="http://www.w3.org/2000/svg">
    {{> "components/svg_icons/svg_icons_interface" }}
    {{> "components/svg_icons/svg_icons_social" }}
    {{> "components/svg_icons/svg_icons_rating" }}
    {{> "components/svg_icons/svg_icons_survival" }}
    {{> "components/svg_icons/svg_icons_map" }}
    {{> "components/svg_icons/svg_icons_deprecated" }}
  </svg>
</div>
