.card__tags
  - if properties[:price_tag] && properties[:price_tag][:price].present?
    = ui_component("tags/price", properties: properties[:price_tag])

  - if properties[:tags] && properties[:tags][:top_choice?]
    .tag.tag--card.tag--top-choice
      .tag--card__content.icon--collar--after.icon--lp-blue--after
        .icon--top-choice.icon--white
          Top Choice

  - elsif properties[:tags] && properties[:tags][:lp_reviewed?]
    .tag.tag--card.tag--lp-reviewed
      .tag--card__content
        .icon--lp-reviewed.icon--white
          Lonely Planet Reviewed

  - if properties[:tags] && properties[:tags][:position]
    = ui_component("tags/competition", properties: { position: properties[:tags][:position] })
